
@{
    ViewData["Title"] = "Home";
}

<h1>Administration</h1>

<h2>Sections : </h2>

<ul>
    <li><a asp-action="Index" asp-controller="Recipes" asp-area="Administration">Gestion des recettes</a></li>
</ul>